{% extends 'store/base.html' %}

{% block content %}

<h2>My Orders</h2>

{% if orders %}
<table>
    <tr>
        <th>Product</th>
        <th>Image</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Date</th>
        <th>Action</th>
    </tr>

    {% for order in orders %}
    <tr>
        <td>{{ order.product.name }}</td>
        <td><img src="{{ order.product.image.url }}" width="100" height="100"></td>
        <td>{{ order.quantity }}</td>
        <td>${{ order.total_price }}</td>
        <td>{{ order.created_at }}</td>
        <td><a href="{% url 'delete_order' order.id %}">
            <button>Delete</button>
        </a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>You have no orders yet.</p>
{% endif %}

{% endblock %}